body{
	font: 1.1rem sans-serif;
}

.grid-item{
	padding: 1.5rem;
}

.title{
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .1em;
}

.subtitle{
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .1em;
}

.header{
	background-color: #1B89E2;
	color: white;
}

.nav ul{
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .1em;
	padding: .5rem;
	display: flex;
	justify-content: space-between;
}

.nav li{
	padding: 1em 0;
}

.nav li a{
	color: white;
	opacity: 0.5;
	text-decoration: none;
}

.nav li a:hover{

	opacity: 1;
}

.footer{
	position:fixed;
	   bottom:0px;
	   width:100%;

	background-color: #333;
}

.footerimgs{
	margin-left: auto;
	margin-right: auto;
	align-content: center;
	display: flex;

	width: 50%;
}

.footerimgs img{
	margin-left: auto;
	margin-right: auto;
	width: 50px;
	height: 50px;
}

.main{
	background-color: #F7CB78;
}

.main .title{
	margin-left: 1rem;
}

.main .subtitle{
	margin-bottom: 1rem;
	margin-left: 1rem;
}

.main p{
	margin-left: 1rem;
	line-height: 1.8em;
}

.hero{
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}

.hero img{
	width: 200px;
}

@media (min-width: 1040px){
	.grid{
		display: grid;
		grid-template-columns: minmax(200px, 1fr) repeat(3, 1fr);
	}

	.nav ul{
		display: block;
	}

	.header{
		grid-column: 1;
		grid-row: 1 / span 1;
	}

	.main{
		grid-column: 2 / span 3;
		grid-row: 1 / span 1;
	}

	.footer{
		grid-column: span 4;
		grid-row: 9;
	}
}
